<% if notice %>
  <div id="notice"><%= notice %></div>
<% end %>

<div class="depot_form">
	<% if flash[:alert] %>
	<p id="notice"><%= flash[:alert] %></p>
	<% end %>
	<%= form_tag do %>
	 <fieldset>
	 	<legend><%= t('.please_login')%></legend>
	 	
	 	<div class="field">
	 		<%= label_tag :name, t('.name')%>
	 		<%= text_field_tag :name, params[:name] %>
	 	</div>
	 	
	 	<div class="field">
	 		<%= label_tag :password, t('.password') %>
	 		<%= password_field_tag :password, params[:password] %>
	 	</div>
	 	
	 	<div>
	 		<%= submit_tag t('.login') %> | 
	 		<%= link_to t('.new_user'), new_user_path %>
	 	</div>
	 </fieldset>
	<% end %>
</div>
