<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= sanitize(@comment.content) %>
</p>

<p>
  <b>Poster:</b>
  <%= @comment.poster %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
