<h1><%= t('.list_news')%></h1>

<table>
  <tr>
    <th><%= t('.title')%></th>
    <th><%= t('.content')%></th>
    <th><%= t('.poster')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @things.each do |thing| %>
  <tr>
    <td><%= thing.title %></td>
    <td><%= thing.content %></td>
    <td><%= thing.poster %></td>
    <td><%= link_to t('.show'), thing %></td>
    <td><%= link_to t('.edit'), edit_thing_path(thing) %></td>
    <td><%= link_to t('.destroy'), thing, method: :delete, data: { confirm: t('.sure_delete') } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.post_news'), new_thing_path %>
