<h1><%= t('.show_news')%></h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<p>
  <b><%= t('.title')%>:</b>
  <%= @thing.title %>
</p>

<p>
  <b><%= t('.content')%>:</b>
  <%= @thing.content %>
</p>

<p>
  <b><%= t('.poster')%>:</b>
  <%= @thing.poster %>
</p>


<%= link_to t('.edit'), edit_thing_path(@thing) %> |
<%= link_to t('.back'), things_path %>
