<h1><%= t('.list_problems')%></h1>

<table>
  <tr>
    <th><%= t('.content')%></th>
    <th><%= t('.questioner')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.content %></td>
    <td><%= problem.questioner %></td>
    <td><%= link_to t('.show'), problem %></td>
    <td><%= link_to t('.edit'), edit_problem_path(problem) %></td>
    <td><%= link_to t('.destroy'), problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new_problem'), new_problem_path %>
