<h1><%= t('.show_problem')%></h1>
<%if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<p>
  <b><%= t('.content')%>:</b>
  <%= @problem.content %>
</p>

<p>
  <b><%= t('.questioner')%>:</b>
  <%= @problem.questioner %>
</p>


<%= link_to t('.edit'), edit_problem_path(@problem) %> |
<%= link_to t('.back'), problems_path %>
