<div class="depot_form">
	
<%= form_for @user1 do |f| %>
  <% if @user1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user1.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<fieldset>
<legend><%= t('.enter_user_details') %></legend>
	
  <div class="field">
    <%= f.label :name, t('.name') %><br />
    <%= f.text_field :name, size: 40 %>
  </div>
  
  <div class="field">
    <%= f.label :password, t('.password') %><br />
    <%= f.password_field :password, size: 40 %>
  </div>
  
  <div class="field">
  	<%= f.label :password_confirmation, t('.password_confirm') %>
  	<%= f.password_field :password_confirmation, size: 40%>
  </div>
  
  <div class="field">
    <%= f.label :genre, t('.genre') %><br />
    <%= f.select :genre, User::USER_TYPES,
    			 prompt: t('.select_user_type') %>
  </div>
  
  <div class="action">
    <%= f.submit t('.confirm') %>
  </div>
  
</fieldset>
<% end %>
</div>
