<h1><%= t('.cart_list') %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carts.each do |cart| %>
  <tr>
    <td><%= link_to t('.show'), cart %></td>
    <td><%= link_to t('.edit'), edit_cart_path(cart) %></td>
    <td><%= link_to t('.destroy'), cart, method: :delete, data: { confirm: t('.sure_delete') } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new_cart'), new_cart_path %>
