<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<<<<<<< HEAD
<div class="cart_title">Your Cart</div>
<table>
  <%= render(@cart.line_items) %>
  
  <tr class="total_line">  
    <td colspan="2">Total</td>
	<td class="total_cell"><%= number_to_currency(@cart.total_price)%></td>
  </tr>
  
</table>

<%= button_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?' %>
=======
<div class = "cart_little">Your Cart</div>
<table>
	<%= render(@cart.line_items) %>
	
	<tr class = "total_line">
		
		<td colspan = "2">Total</td>
		<td class = "total_cell"><%= number_to_currency(@cart.total_price) %></td>
	
	</tr>
</table>

<%= button_to 'Empty cart', @cart, method: :delete, donfirm: 'Are you sure?'%>
>>>>>>> de3e201cc930b970cdab81e6f204fee553ea27aa
