<%= form_tag do %>
	<br />
	<p><%= t('.word') %></p>
	<div class="field">
	<%= text_area_tag 'content' %>
	</div>
	
	<p><%= t('.name') %></p>
	<div class="field">
	<%= text_field_tag 'person' %>
	</div>

	<p><%= t('.phone') %></p>
	<div class="field">
	<%= text_field_tag 'phone' %>
	</div>
	
	<div style="float:left;"><%= submit_tag t('.send') %></div>
	
<% end %>