<head><link rel="stylesheet" href="style.css"></head>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div id="product">
<h1></h1>
<!--slider-->
  <div class="sixteen columns clearfix">
    <div class="slider">
      <ul class="rslides" id="slider3">
        <li> <%= link_to image_tag(@recommends[0].image_url, title:"some title", alt:"some title"), controller: 'store', action: :show, id: @recommends[0] %>
          <div class="caption">
            <h3><%= @recommends[0].title %></h3>
            <p><%= sanitize(truncate(@recommends[0].description, length: 200)) %><br />           	
            </p>
          </div>
        </li>
        <li> <%= link_to image_tag(@recommends[1].image_url, title:"some title", alt:"some title"), controller: 'store', action: :show, id: @recommends[1] %>
          <div class="caption">
            <h3><%= @recommends[1].title %></h3>
            <p><%= sanitize(truncate(@recommends[1].description, length: 200)) %><br />
            </p>
          </div>
        </li>
        <li> <%= link_to image_tag(@recommends[2].image_url, title:"some title", alt:"some title"), controller: 'store', action: :show, id: @recommends[2] %>
          <div class="caption">
            <h3><%= @recommends[2].title %></h3>
            <p><%= sanitize(truncate(@recommends[2].description, length: 200)) %><br />
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--.slider--> 
</div>
<% @products.each do |product|%>
	<div class="entry" background="red">
		<%= image_tag(product.image_url) %>
		<h3><%= product.title %></h3>
		<%= sanitize(truncate(product.description, length: 80)) %>
		<div class="price_line">
			<span class="price"><%= number_to_currency(product.price) %></span>
			<%= button_to t('.add_html'), line_items_path(product_id: product), 
				remote: true %>
			<%= link_to t('.detail'), controller: 'store', action: :show, id: product %>
		</div>
	</div>
<% end %>
<% if @products.class == ActiveRecord::Relation %>
<p><%= will_paginate @products, previous_label: t('.prelabel'),next_label: t('.nexlabel') %></p>
<% end %>
