<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1><%= t('.book_details')%></h1> <br />
<div class="message">
<%= image_tag(@product.image_url) %>
<p>
  <b class="title"><%= t('.title') %></b>
  <%= @product.title %>
</p>

<p>
  <b><%= t('.genre') %></b>
  <%= @product.genre %>
</p>

<p>
  <b><%= t('.price') %></b>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <b><%= t('.descriptions') %></b>
  <%= sanitize(@product.description) %>
</p>
<!--
<script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript">  
</script>
<script type="text/javascript">
	function InitStar(count,cur,s0,s1,ctn,txt){  
    for(var i=1;i<=count;i++){    
        var p=(i<=cur)?s1:s0;   
        $("<img/>").attr({"src":p,"flag":i}).css("cursor","pointer")  
        .mouseover(function(){    
            var cur=parseInt($(this).attr("flag"));  
            $("#"+ctn).children().each(function(){    
                var i=parseInt($(this).attr("flag"));    
                var p=(i<=cur)?s1:s0;  
                $(this).attr("src",p);    
            });    
            showStar(txt,cur);    
         }).click(function(){  //原文博客：blog.csdn.net/bluceyoung  
            $("#"+ctn).attr("star",$(this).attr("flag"));    
         }).appendTo($("#"+ctn));    
    }     
      
    $("#"+ctn).attr("star",cur).mouseout(function(){    
        var cur=parseInt($(this).attr("star"));    
        $(this).children().each(function(){    
            var p=($(this).attr("flag")<=cur)?s1:s0;    
            $(this).attr("src",p);    
        });    
        showStar(txt,cur);    
    });    
}      
function showStar(txt,cur){    
    $("#"+txt).val(cur);    
    $("#"+txt).change();    
}    
</script>  
<script type="text/javascript">  
$(document).ready(function(){  
//创建星星  
InitStar(5,3,'s1.gif','s2.gif','lblStar1','txt')  
//重写评星描述  
  $("#txt").change(function(){  
    var v=$(this).val();  
    switch(v){  
        case "1":v="太差了";break;  
        case "2":v="有待提高";break;  
        case "3":v="一般";break;  
        case "4":v="不错";break;  
        case "5":v="太棒了";break;  
        default:v="";  
        }  
        $(this).val(v);  
  });  
});   
</script>  
  
<label id="lblStar1"></label><input type="text" id="txt">  
--> 
<br /> 

<br />
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_tqq"></a>
	<a class="jiathis_button_renren"></a>
	<a class="jiathis_button_weixin"></a>
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1341039267544902" charset="utf-8"></script>
<!-- JiaThis Button END -->
<br />
<br />
</div>
<div class="field">
<%= button_to t('.add_html'), line_items_path(product_id: @product), remote: true %>
</div>

<p style="border-bottom-style: dotted; overflow: hidden;"></p>

<% if @product.comments.any? %>
<div class="field">
<table>
	<tr>
		<th><%= t('.comments') %></th>
		<th><%= t('.poster') %></th>
		<th><%= t('.time') %></th>
	</tr>
	<%= render(@comments) %>
	
</table>
<p><%= will_paginate @comments %></p>
</div>
<% else %>
	<p>
		<b><%= t('.no_comments') %></b>
	</p>
<% end %>

<p style="border-bottom-style: dotted; overflow: hidden; border-color: #aaa"></p>

<div class="commentForm">
<%= render 'form' %>
</div>

<div> | <%= link_to t('.back'), store_path %> </div>
