<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1><%= t('.book_details')%></h1> <br />
<div class="message">
<%= image_tag(@product.image_url) %>
<p>
  <b class="title"><%= t('.title') %></b>
  <%= @product.title %>
</p>

<p>
  <b><%= t('.genre') %></b>
  <%= @product.genre %>
</p>

<p>
  <b><%= t('.price') %></b>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <b><%= t('.descriptions') %></b>
  <%= sanitize(@product.description) %>
</p>

</div>
<div class="field">
<%= button_to t('.add_html'), line_items_path(product_id: @product), remote: true %>
</div>

<p style="border-bottom-style: dotted; overflow: hidden;"></p>

<% if @product.comments.any? %>
<div class="field">
<table>
	<tr>
		<th><%= t('.comments') %></th>
		<th><%= t('.poster') %></th>
		<th><%= t('.time') %></th>
	</tr>
	<%= render(@comments) %>
	
</table>
<p><%= will_paginate @comments %></p>
</div>
<% else %>
	<p>
		<b><%= t('.no_comments') %></b>
	</p>
<% end %>

<p style="border-bottom-style: dotted; overflow: hidden; border-color: #aaa"></p>

<div class="commentForm">
<%= render 'form' %>
</div>

<div> | <%= link_to t('.back'), store_path %> </div>


