<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="http://www.google.com/favicon.ico">
  <title><%= t('.Pragmatic_Books_Online_Store')%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>", id="body">
<div id="container">
	<div id="templatemo_menu">
		<ul>
			<li> <a href="/" class="current"><%= t('.home') %></a> </li>
			<li> <%= link_to t('.questions'), problems_path %> </li>
			<li> <%= link_to t('.news'), things_path %> </li>
			<li> <%= link_to t('.contact'), contact_path %> </li>
			<% unless session[:user_id] %>
				<!-- <li> <%= link_to t('.login'), login_path %> </li> -->
				<li> <a href="javascript:void(0)" onClick="login(1)" remote="true"><%= t('.login') %></a> </li>
				<li> <%= link_to t('.register'), new_user_path, onClick:"login(2)" %> </li>
				<!-- <li> <a href="javascript:void(0)" onClick="login(2)"><%= t('.register') %></a> </li> -->
			<% else %>
				<li> <%= link_to t('.logout'), logout_path, method: :delete %> </li>
			<% end %>
		</ul>
		<div id="userMessage">
			<% if session[:user_id] %>
				<%= link_to t('.welcome') + " #{@user.name}!", edit_user_path(@user) %>
			<% end %>
		</div>
	</div>
	<div id="slide">
		<input type='checkbox' id='sideToggle'>
		<aside>
			<h2>Cart</h2>
			<% if @cart %>
				<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
					<%= render @cart %>
				<% end %>
			<% end %>
		</aside>
		<div id='wrap'>
	    	<label id='sideMenuControl' for='sideToggle'><%= image_tag('cart.png') %></label>
	  	</div>
  	</div>
  	<div style="position:absolute;padding-left: 1000px;">
	<%= form_tag store_path, class: 'locale' do %>
		<%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s),
				onchange: 'this.form.submit()' %>
		<%= submit_tag 'submit'%>
		<%= javascript_tag "$('.locale input').hide()" %>
	<% end %>
	</div>
  <div id="header"> 
  		<div id="templatemo_special_offers">
        	<p>
                <span>25%</span> discounts for
        purchase over $80
        	</p>
        </div>
        
        
        <div id="templatemo_new_books">
        	<ol>
                <li><%= truncate(@recommends[0].title, length: 14) %></li>
                <li><%= truncate(@recommends[1].title, length: 14) %></li>
                <li><%= truncate(@recommends[2].title, length: 14) %></li>
            </ol>            
        </div>
	<div id="search">
		<%= form_tag store_path do %>
			<div id="searchBox">
				<%= text_field_tag 'bookName', params[:bookName], size: 14%>
			</div>
			<div>
				<%= submit_tag t('.search') %>
			</div>
		<% end %>
	</div>
  </div>
  
    <div id="main1">
      <div id="left">
        <div id="menu">
        	<h1>Categories</h1>
          	<ul>
				<li onClick="menus('menu1')"> <%= t('.category') %> </li> 
				<div id="menu1" > 				
					<div onClick="menus('menu1_2')"> <%= t('.art') %> </div>
					<ol id="menu1_2" style="display:none">
						<li><%= link_to t('.literature'), store_path(genre: "literature") %></li>
						<li><%= link_to t('.memoir'), store_path(genre: "memoir") %></li>
						<li><%= link_to t('.art1'), store_path(genre: "art") %></li>
						<li><%= link_to t('.photograph'), store_path(genre: "photograph") %></li> 
					</ol>
					<div onClick="menus('menu1_3')"> <%= t('.youth') %> </div>
					<ol id="menu1_3" style="display:none">
						<li><%= link_to t('.youthliterature'), store_path(genre: "youth literature") %></li>
						<li><%= link_to t('.cartoon'), store_path(genre: "cartoon") %></li>
						<li><%= link_to t('.humor'), store_path(genre: "humor") %></li>
					</ol>
					<div onClick="menus('menu1_4')"> <%= t('.children') %> </div>
					<ol id="menu1_4" style="display:none">
						<li><%= link_to t('.0-2'), store_path(genre: "0-2") %></li>
						<li><%= link_to t('.3-6'), store_path(genre: "3-6") %></li>
						<li><%= link_to t('.7-10'), store_path(genre: "7-10") %></li>
						<li><%= link_to t('.11-14'), store_path(genre: "11-14") %></li>
						<li><%= link_to t('.picturebook'), store_path(genre: "picture book") %></li>
					</ol>
					<div onClick="menus('menu1_5')"> <%= t('.life') %> </div>
					<ol id="menu1_5" style="display:none">
						<li><%= link_to t('.exercise'), store_path(genre: "exercise") %></li>
						<li><%= link_to t('.food'), store_path(genre: "food") %></li>
						<li><%= link_to t('.tour'), store_path(genre: "tour") %></li>
						<li><%= link_to t('.arder'), store_path(genre: "arder") %></li>
						<li><%= link_to t('.family'), store_path(genre: "family") %></li>
					</ol>
					<div onClick="menus('menu1_6')"> <%= t('.technology') %> </div>
					<ol id="menu1_6" style="display:none">
						<li><%= link_to t('.coptic'), store_path(genre: "coptic") %></li>
						<li><%= link_to t('.building'), store_path(genre: "building") %></li>
						<li><%= link_to t('.computer'), store_path(genre: "computer") %></li>
						<li><%= link_to t('.naturalscience'), store_path(genre: "natural science") %></li>
						<li><%= link_to t('.medicine'), store_path(genre: "medicine") %></li>
					</ol>
					<div onClick="menus('menu1_7')"> <%= t('.education') %> </div>
					<ol id="menu1_7" style="display:none">
						<li><%= link_to t('.foreignlanguage'), store_path(genre: "foreign language") %></li>
						<li><%= link_to t('.test'), store_path(genre: "test") %></li>
						<li><%= link_to t('.teachingmaterial'), store_path(genre: "teaching material") %></li>
					</ol>
					<div onClick="menus('menu1_8')"> <%= t('.management') %> </div>
					<ol id="menu1_8" style="display:none">
						<li><%= link_to t('.economy'), store_path(genre: "economy") %></li>
						<li><%= link_to t('.manage'), store_path(genre: "manage") %></li>
						<li><%= link_to t('.finance'), store_path(genre: "finance") %></li>
					</ol>
				</div> 
			</ul>
		</div>

		<% if session[:user_id] %>
			<div id="menu">
				<h1>Operation</h1>
				<ul>
					<% if @user.genre == "ordinary"%>
						<li><%= link_to t('.my_orders'), orders_path %></li>
					<% end %>
					<% if @user.genre != "ordinary"%>
						<li><%= link_to t('.orders'), orders_path %></li>
						<li><%= link_to t('.products'), products_path %></li>
						<li><%= link_to t('.postnews'), new_thing_path %></li>
					<% end %>
					<% if @user.genre == "admin"%>
						<li><%= link_to t('.users'), users_path %></li>
						<li><%= link_to t('.comments'), comments_path %></li>
					<% end %>
					<li><%= link_to t('.questions'), new_problem_path %></li>
				</ul>
			</div>
		<% end %>

        <!--
        <div id="menubottom">
          <ul>
            <li><a href="/">Home</a></li>
            <li><%= link_to 'About us', about_path %></li>
            <li><%= link_to t('.contact'), contact_path %></li>
          </ul>
        </div>
       -->
      </div>
      
      <div id="right">
      	
      	<div id="main">
			<%= yield %>
		</div>
		
      </div>
      <div class="clear"></div>
      <div class="cleaner_with_height">&nbsp;</div>
    </div>
  
  	<div id="templatemo_footer">
		<a href="subpage.html">Home</a> | 
		<%= link_to 'About us', about_path %> | 
		<a href="/">Books</a> | 
		<a href="#">New Releases</a> | 
		<%= link_to "FAQs", problems_path %> | 
		<%= link_to t('.contact'), contact_path %> <br />
        Copyright © 2024 <a href="http://my.ss.sysu.edu.cn/wiki/display/113WEB115/13-Web-115"><strong>岳阳楼记</strong></a> | 
        Designed by <a href="http://my.ss.sysu.edu.cn/wiki/pages/viewpage.action?pageId=188154988" target="_parent" title="BinQi">吴彬麒</a>
	</div> 
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
<!-- Login in a jump window  style中显示半透明效果-->
<div id="a1" class="b1" style="filter:alpha(opacity=50); -moz-opacity:0.50; opacity:0.50;">
    <div id="a3" class="b3">Login<a href="javascript:void(0)" onClick="login(0)" class="b5"><%= image_tag('x.png') %></a></div>
    <div id="a4" class="b4">
        <form name="form1" method="post" action="/login/">
        	<table align="center">			 	
			 	<tr>
			 		<td><b><%= label_tag :name, t('.name')%></b></td>
			 		<td><%= text_field_tag :name, params[:name] %></td>
			 	</tr>
			 	
			 	<tr>
			 		<td><b><%= label_tag :password, t('.password') %></b></td>
			 		<td><%= password_field_tag :password, params[:password] %></td>			 		
			 	</tr>			
			 </table>
			 <%= submit_tag t('.login') %> | 
			 <%= link_to t('.new_user'), new_user_path %>
        </form>
    </div>
</div>
<div id="a2" class="b2"></div>
</body>
</html>